{% if squirrel_list %}
    <style type="text/css">
    .horizontal { display: inline; }
    </style>
    <ul>
	<a href="{% url 'add' %}"><button type='button'>Add new squirrel data</button></a>
	<a href="{% url 'stats' %}"><button type='button'>Some stats of the squirrels</button></a>
	<a href="{% url 'map' %}"><button type='button'>Check the first 100 squirrel distribution on map</button></a>
    <p>Below displays a list of unique squirrel ids, click to edit</p>
    {% for squirrel in squirrel_list %}
    	<li><a href="/sightings/{{ squirrel.unique_squirrel_id }}/">{{ squirrel.unique_squirrel_id }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No squirrels are available.</p>
{% endif %}
