<!doctype>
<html>
<head>
	<h1>Some stats of the squirrels:</h1>
</head>
<body>
	<h2>There are {{ count }} squirrels in total</h2>
	<p>The following table show the amount of squirrels in each category</p>
	<table border="1">
		<tr>
			<th>primary fur color</th>
			<th>gray</th>
			<th>cinnamon</th>
			<th>black</th>
			<th>unknown</th>
		</tr>
		<tr>
			<th></th>
			<th>{{ gray }}</th>
			<th>{{ cinnamon }}</th>
			<th>{{ black }}</th>
			<th>{{ color_unknown }}</th>
		</tr>
		<tr>
			<th>location</th>
			<th>ground plane</th>
			<th>above ground</th>
			<th>unknown</th>
			<th>/</th>
		</tr>
		<tr>
			<th></th>
			<th>{{ ground_plane }}</th>
			<th>{{ above_ground }}</th>
			<th>{{ location_unknown }}</th>
			<th>/</th>
		</tr>
		<tr>
			<th>action</th>
			<th>running</th>
			<th>chasing</th>
			<th>climbing</th>
			<th>eating</th>
		</tr>
		<tr>
			<th></th>
			<th>{{ running }}</th>
			<th>{{ chasing }}</th>
			<th>{{ climbing }}</th>
			<th>{{ eating }}</th>
		</tr>
		<tr>
			<th>action</th>
			<th>foraging</th>
			<th>/</th>
			<th>/</th>
			<th>/</th>
		</tr>
		<tr>
			<th></th>
			<th>{{ foraging }}</th>
			<th>/</th>
			<th>/</th>
			<th>/</th>
	</table>
	<a href="{% url 'sightings' %}"><button type='button'>back</button></a>
</body>
</html>
